{% extends 'cover.html' %} {% block content %}
<div class="container mt-2">
    <div class="row card shadow d-flex col-12">
        <form action="" method="POST" enctype="multipart/form-data">
            <div class="d-md-flex gap-md-1 justify-content-center d-block">
                <div class="form-group col-sm-12 col-md-5">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="topic">Topic <span class="text-danger">*</span></label>
                        <input type="text" class="form-control" Required name="Topic" placeholder="Event Topic...">
                    </div>
                    <div class="mb-3">
                        <label for="location">Location <span class="text-danger">*</span></label>
                        <input type="text" class="form-control" Required name="Location" placeholder="Event Location">
                    </div>
                    <div class="mb-3">
                        <label for="about">About Event <span class="text-danger">*</span></label>
                        <textarea class="form-control" Required name="About" id="" cols="30" rows="5" placeholder="Event Description"></textarea>
                    </div>
                </div>
                <div class="form-group col-sm-12 col-md-5">
                    <div class="mb-3">
                        <label for="date1">Start Date <span class="text-danger">*</span></label>
                        <input type="datetime-local" class="form-control" Required name="Date1" value="2022-06-06">
                    </div>
                    <div class="mb-3">
                        <label for="date2">End Date <span class="text-danger">*</span></label>
                        <input type="datetime-local" class="form-control" Required name="Date2" value="2022-06-06">
                    </div>
                    <div class="mb-3">
                        <label for="capacity">Capacity<span class="text-danger">*</span></label>
                        <input type="text" class="form-control" Required name="capacity" placeholder="Number of attendees">
                    </div>
                    <div class="mb-3">
                        <label for="">Select Image</label>
                        <input type="file" name="image" accept="image/*" class="form-control">
                    </div>
                </div>
            </div>
            <div class="mb-3 bottom-0 text-center">
                <button type="submit" class="btn bg-primary text-white">Create</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}