{% extends 'cover.html'%} {%load static %}{%block content%}

<div class="container mt-2">
    <div class="col-12 col-sm-12 col-md-12 col-lg-12">
        <div class="src d-flex">
            <h5 class="badge fs-5 text-dark border">Events</h5>
            <form action="" method="POST">
                {%csrf_token%}
                <input type="text" class="form-control ms-2" placeholder="Search events...">
            </form>
        </div>
        <div class="justify-content-center">{% for event in events%}
            <div class="border col-12 rounded-2 shadow-lg py-2 px-2 d-sm-block d-md-flex d-lg-flex gap-5">
                <div class="col-sm-12 col-md-7 col-lg-6">
                    <a href="{% url 'event' event.id%} " class="text-decoration-none">
                        <p class="card-text text-primary fw-bold fs-6">{{event.topic}} {%if event.capacity == 0%}
                            <small class="badge bg-danger">Fully Booked</small> {%endif%}
                        </p>
                        {% if event.id in event_ids%}
                        <h5 class="badge bg-success">Attending</h5>
                        {% endif %}
                    </a>
                    <p class="text-dark" id="details">
                        {{event.about}}
                    </p>
                    <p class="text-warning">{{event.capacity}} Spots remaining</p>
                    <div class="d-flex">
                        <i class="material-icons" style="color:rgb(41, 116, 133)">group</i>
                        <small class="text-dark ms-2">54 Attendees</small>
                    </div>
                    <div class="d-flex">
                        <i class="material-icons" style="color:rgb(41, 116, 133)">map</i>
                        <small class="ms-2">{{event.location}}</small>
                    </div>
                    <div class="d-flex">
                        <i class="material-icons" style="color:rgb(41, 116, 133)">today</i>
                        <small class="ms-2">Event Date: {{event.date_start}}</small>
                    </div>
                </div>
                <div class="col-sm-12 col-md-5 col-lg-4 mt-1">
                    <a href="{% url 'event' event.id%} " class="text-decoration-none">
                        <img src="{{event.pic.url}}" alt="Event Image" class="img-responsive card-img-top rounded shadow">
                    </a>
                </div>
            </div>
            <hr> {% endfor %}
        </div>
    </div>
</div>
{% endblock %}