{% extends 'cover.html'%} {% load static %} {% block content %}
<div class="container">
    <div class="d-flex mt-2">
        <div>
            <i class="material-icons" style="font-size:50px;color:blue">person</i>
        </div>
        <div>
            <h5 class="ms-2">@{{user.username}}</h5>
            <h5 class="ms-2">Last seen 3 minutes ago</h5>
        </div>
    </div>
    <div class="d-sm-block d-md-flex d-lg-flex">
        <div class="col-sm-12 col-md-6 col-lg-6">
            <h5 class="card-title badge bg-success">
                Events Hosted
            </h5>
            <div class="card shadow-lg mt-1 ">
                <div class="card-body">
                    <div class="d-block">
                        {% for event in events %}
                        <li>
                            <a class="text-decoration-none" href="{% url 'event' event.id %}"><small>{{event.topic}}</small></a>
                            <small>, Created {{event.created|timesince}} ago</small>
                        </li>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="ms-4 col-sm-12 col-md-6 col-lg-6">
            <h5 class="card-title badge bg-success">
                Events Attending
            </h5>
            <div class="card shadow-lg mt-1 ">
                <div class="card-body">
                    <div class="d-block">
                        {% for event in events %}
                        <li>
                            <a class="text-decoration-none" href="{% url 'event' event.id %}"><small>{{event.topic}}</small></a>
                        </li>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{%endblock%}